body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#start-button {
    border: none;
    width: 40%;
    background-color: rgb(255, 77, 77);
    color: rgb(255, 205, 205);
    text-shadow: 2px 2px rgb(0,0,0);
    border-radius: 1em;
    font-size: 30px;
}

#subheader {
    border: none;
}

.container {
    margin-top: 1em;
    color: rgba(122, 101, 101, 0.427);
   
}
